
<div class="lyrics px-4" data-controller="color" data-insert-in-list-target="items" data-submit-guess-target="lyrics" >
      <% if @game_session_song.status == "done"  %>
          <% @game_session_song.game_song.song.splitted_lyrics.each do |word|%>
            <% if word == "\n" %>
              <%= "<br>".html_safe %>
            <% else %>
              <%= "<span class='word old'>#{word}</span>".html_safe %>
            <% end %>
          <% end %>

        <% else %>

          <%  @game_session_song.guessed_splitted_lyrics.each do |word|%>
            <% if word == "\n" %>
              <%= "<br>".html_safe %>
            <% elsif !@game_session_song.guesses.empty? && word.downcase == @game_session_song.guesses.last.word  %>
              <%= "<span data-color-target='guessed' class='word new animate__animated animate__swing'>#{word}</span>".html_safe  %>
            <% elsif word =~ /[[A-zÀ-ú-œ]]+/ %>
              <%= "<span data-color-target='guessed' class='word old'>#{word}</span>".html_safe  %>
            <% else %>
              <%= "<span class='word'>#{word}</span>".html_safe %>
            <% end %>
        <% end %>
      <% end %>
    </div>
