<div style="width:auto; text-align:center;"><%= flash[:notice] if flash[:notice] %></div>
  <% if user_signed_in? %> <%= current_user.id %>
<div class="container homepage d-flex">
      <div class="lyrics">
        <%= @lyricsrender.join.html_safe %>
      </div>


 <div class="propals d-flex">

      <div class="listprop">
      <ul>
        <%  Guess.where(game_session_song: @game_session_song).each do |guess| %>
        <li> <%= guess.word %> : <%= guess.frequency %> </li>
          <% end %>
      </ol>

        <div class="formulaire">
            <%= form_tag game_session_path(@game_session), method: :get, class: "d-flex"  do  %>
              <%= text_field_tag :query,
                  "",
                  class: "form-control",
                  autofocus: true,
                  autocomplete: "off"
                %>
              <%= submit_tag "Valider", class: "btn btn-primary" %>
              <% end %>
        </div>
    </div>

<div class= "triescount">
Nombre d'essais : <%= Guess.where(game_session_song: @game_session_song).count %>
</div>



</div>
