<div id="show-game" data-controller="guess-chart">
  <div>
    <div class="lyrics px-4">
      <%= @game_session_song.guessed_splitted_lyrics.join.html_safe %>
    </div>
  </div>

  <div class="propals">
  <% veggie = ["tomato.png", "salad.png"] %>
    <div class="listprop d-flex max-height-5 p-1" data-guess-chart-target="content">
      <div class="guess-list d-flex flex-grow-1" data-guess-chart-target="window">
        <%  Guess.where(game_session_song: @game_session_song).each do |guess| %>
          <div class="d-inline-flex bg-body-color bubble-guess">
            <div class="w-50 m-1"><%= image_tag("#{veggie.first}", width: 30, height: 30, :class => "img-fluid mb-1") %></div>
            <div class="w-50"><%= guess.word %></div>
            <div class="frequency mx-2"><%= guess.frequency %>x</div>
          </div>
        <% end %>
      </div>
    </div>

    <div class=" d-flex ">

      <div class= "triescount d-flex align-items-center">
        <button class="btn btn-success btn-propal btn-show-prop" data-action="click->guess-chart#revealContent">
          <%= Guess.where(game_session_song: @game_session_song).count %>
        </button>
      </div>

      <%= form_tag game_game_session_path(@game, @game_session), method: :get, class: "d-flex flex-grow-1"  do  %>
        <%= text_field_tag :query,
          "",
          class: "form-control",
          autofocus: true,
          autocomplete: "off"
        %>
        <%= submit_tag "Valider", class: "btn btn-primary btn-validate-prop" %>
      <% end %>

    </div>

  </div>

</div>
