<div style="width:auto; text-align:center;"><%= flash[:notice] if flash[:notice] %></div>

<div class="container homepage d-flex">
      <div class="lyrics">
        <%= @lyrics.join.html_safe %>
      </div>


 <div class="propals d-flex">
      <div class="listprop">

          </ol>
        </div>

        <div class="formulaire">
            <%= form_tag game_session_path(@game_session), method: :get, class: "d-flex"  do  %>
              <%= text_field_tag :query,
                  "",
                  class: "form-control",
                  autofocus: true,
                  autocomplete: "off"
                %>
              <%= submit_tag "Valider", class: "btn btn-primary" %>
              <% end %>
        </div>
    </div>
</div>
