<div id="show-game" data-controller="guess-chart submit-guess">

    <div class="lyrics-container animate__animated animate__fadeIn animate__delay-1s">
      <%= render 'game_sessions/lyrics', song: @game_session_song %>
    </div>

    <div class="propals animate__animated animate__fadeIn ">
        <%= render 'game_sessions/guesses', guesses: @guesses_ordered_by_latest %>

        <div class=" d-flex animate__animated animate__slideInUp ">
          <%= render 'game_sessions/guesses_count', guesses_count: @guesses_ordered_by_latest.count %>
          <%= render 'guesses/form', game: @game, game_session: @game_session, game_session_song: @game_session_song, guess: @guess %>
        </div>

    </div>

</div>
<script> ScrollReveal().reveal('.word', { interval: 0.05, container: '.lyrics' } ); </script>


<%= @game_session_song.game_song.song.title.downcase.split(/\W/) %>
<%= Guess.where(game_session_song: @game_session_song, word: @title).map{|x| x[:word]} %>
