<div class="container container-victory d-flex text-center" style="flex-direction: column" >
  <h1>Bravo !</h1>

  <div><%= image_tag("victoire.png", width: 100, height: 100, :class => "img-fluid mb-3") %></div>

  <% @game_session.game_session_songs.each do |song|%>
    <div class="bubble" style="width: 60vw" >
        <h3><b><%= song.game_song.song.title %></b></h3> <br>
        <h4><%= song.game_song.song.author %></h4><br>
        (<%= Guess.where(game_session_song: song).count %> coups )
    </div>
  <% end %>

  <div>
    <%= link_to "Nouvelle partie", root_path, class: "btn d-block btn-primary btn-lg mb-5" %>
  </div>

  <div data-controller="clipboard" data-clipboard-feedback-text-value="Copié dans le presse-papier !" data-clipboard-copied-value="J'ai trouvé la chanson du jour en <%= @guesses_count  %> coups ! 🥗 songsalad.com 🥗 ">
    <button class="btn btn-primary" data-action="click->clipboard#copy">Partager mon résultat</button>
  </div>


</div>
