
<%# warper %>
<div class="container">

<%# Logo & H1 %>
<div class="container text-center mb-5">
  <img class="img-fluid mb-5" src="/assets/logo-smile.png" alt="song salad logo smile" width="270" height="270">
  <h1 class="mt-5 mb-5">Trouvez un slogan sympa</h1>
</div>

<%# h6 & BUTTONS%>
<div class="container text-center mt-5">
  <h6 class="mt-5">Choisissez votre mode de jeu</h6>
  <%= link_to "1 CHANSON", game_game_sessions_path(:game_id => @solo), method: :post, class: "btn d-block btn-primary btn-lg mb-5" %>
  <%= link_to "5 CHANSONs", game_game_sessions_path(:game_id => @playlist), method: :post, class: "btn d-block btn-primary btn-lg mb-5" %>
</div>


  <%# small button %>
  <div class="container text-center fixed-bottom">

    <%= link_to rules_path, class: "btn btn-warning mb-4 text-center" do %>
      <i class="fas fa-book-spells"></i>
    <% end %>

    <% if guest_present? %>
      <%= link_to stats_guest_path(current_guest), class: "btn btn-warning mb-4" do %>
      <i class="fas fa-book-spells"></i>
      <% end %>
    <% end %>

      <%= link_to faq_path, class: "btn btn-warning mb-4" do %>
        <i class="fas fa-book-spells"></i>
      <% end %>
  </div>
</div>
